body {
  background-color: #0a192f;
  font-family: 'Poppins', sans-serif;
  animation: load 2000ms ease-in;
}

.header {
  position: relative;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
