#project {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 150px;
  margin-right: 250px;
  margin-left: 250px;
  margin-bottom: 150px;
}

.project-header {
  align-self: center;
  margin-bottom: 50px;
  border-bottom-style: groove;
  width: fit-content;
}

.project-01,
.project-02,
.project-03,
.project-04 {
  display: flex;
  flex-direction: row;
}

.shopping {
  width: 500px;
}

.shop-image,
.todo,
.node-image,
.cart {
  background: #000;
  background: linear-gradient(
    135deg,
    #000000 0%,
    #000000 25%,
    #64ffda 50%,
    #c850c0 75%,
    #7800a8 100%
  );
  background-size: 400% 400%;
  background-repeat: no-repeat;
  align-items: center;
  width: 1000px;
  max-width: 100vw;
  max-height: 80vh;
  color: #fff;
  position: relative;
  transition: 0.5s all;
  background-position: 100% 100%;
  border-radius: 1%;
}

.shopping,
.todo-image,
.node-artive,
.cart-image {
  cursor: pointer;
  height: 100%;
  z-index: 1;
  mix-blend-mode: screen;
  border-radius: 1%;
}

.shop-image:hover,
.todo:hover,
.node-image:hover,
.cart:hover {
  background-position: 0% 0%;
}

.title-01 {
  margin: 80px 0px 0px 30px;
}

.desc-01 > p,
.desc-02 > p {
  padding: 15px;
}

.header-01 > h3,
.header-02 > h3 {
  margin-left: 15px;
}

.header-01,
.header-02,
.header-03,
.header-04 {
  display: flex;
  justify-content: space-between;
}

.header-01 > h3,
.header-02 > h3,
.header-03 > h3,
.header-04 > h3 {
  color: #64ffda;
}

.icons {
  color: white;
}

.project-02,
.project-03,
.project-04 {
  margin-top: 100px;
}

.desc-02 > li,
.desc-04 > li {
  list-style: none;
  margin: 0px 0px 5px 40px;
}
.desc-02 li::before,
.desc-03 li::before,
.desc-04 > li::before {
  content: '>';
  color: #64ffda;
  margin: 5px;
}

.title-02 {
  margin: 140px 80px 0px 30px;
}

.todo-image {
  width: 100%;
}

.node-artive {
  width: 100%;
}

.title-03 {
  margin: 25px 0px 0px 50px;
}

.desc-03 > p {
  padding: 3.5px;
}

.desc-03 > li {
  padding: 1px;
  list-style: none;
  margin-left: 30px;
}

.icon {
  color: white;
}

#project > h4 {
  margin-top: 50px;
  text-align: center;
}

.title-04 {
  margin: 40px 80px 0px 30px;
}

.desc-04 > p {
  padding: 5px;
}
.desc-04 > li {
  padding: 1px;
}

.cart-image {
  width: 100%;
}
